{% extends 'base.html' %} {% block title %}Register Page {% endblock %}{% block
content %}
<h1 class="display-1">Sign Up</h1>
<p class="lead">
  Register below. Already have account? <a href="/login"> _Login here</a>
</p>
<form method="post">
  {{ form.hidden_tag()}} {% for field in form if field.widget.input_type !=
  'hidden' %}
  <p>
    {{field.label}} {{field(class_="form-control")}} {% for error in
    field.errors %} <span class="form-text text-danger">{{error}}</span> {%
    endfor %}
  </p>
  {% endfor %}
  <button type="submit" class="btn btn-success">Register</button>
</form>
{% endblock %}
